@{
    ViewData["Title"] = "Home Page";
}
    <style>
        body {
           background-image: url('images/stars.jpg');
        }
    </style>

<div class="text-center">
    <h1 style="color: white; font-weight: bold" class="display-4">Welcome, lets go to fucking space</h1>
    <img height="450" width="300" src = "~/images/archie_astronaut.png" />
</div>
