
@{
    ViewData["Title"] = "Index";
}

<h1>Damage Counter</h1>

<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Program Number</th>
            <th scope="col">System</th>
            <th scope="col">Damage Level</th>
            <th scope="col">Additional Damage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div class="damage_dice w-25">1</div></td>
            <td><div class="damage_system w-25">Flight Control</div></td>
            <td>
                <ul class="list-group list-group-horizontal align-items-center">
                    <li class="list-group-item list-group-item-danger">X</li>
                    <li class="list-group-item list-group-item-warning">X</li>
                    <li class="list-group-item list-group-item-dark">X</li>
                </ul>
            </td>
            <td>
                <div class="damage_bonus">
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="damage_dice">2</div></td>
            <td><div class="damage_system">Power Distribution</div></td>
            <td>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-danger">X</li>
                    <li class="list-group-item list-group-item-warning">X</li>
                    <li class="list-group-item list-group-item-dark">X</li>
                </ul>
            </td>
            <td>
                <div class="damage_bonus">
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="damage_dice">3</div></td>
            <td><div class="damage_system">Life Support</div></td>
            <td>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-danger">X</li>
                    <li class="list-group-item list-group-item-warning">X</li>
                    <li class="list-group-item list-group-item-dark">X</li>
                </ul>
            </td>
            <td>
                <div class="damage_bonus">
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="damage_dice">4</div></td>
            <td><div class="damage_system">Experiments</div></td>
            <td>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-danger">X</li>
                    <li class="list-group-item list-group-item-warning">X</li>
                    <li class="list-group-item list-group-item-dark">X</li>
                </ul>
            </td>
            <td>
                <div class="damage_bonus">
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="damage_dice">5</div></td>
            <td><div class="damage_system">Communication    </div></td>
            <td>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-danger">X</li>
                    <li class="list-group-item list-group-item-warning">X</li>
                    <li class="list-group-item list-group-item-dark">X</li>
                </ul>
            </td>
            <td>
                <div class="damage_bonus">
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="damage_dice">6</div></td>
            <td>          
                <div class="damage_bonus">
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                    <div class="damage_counter"></div>
                </div>
            </td>

        </tr>
    </tbody> 
</table>

<button type="button" class="btn btn-primary">Primary</button>